<div ng-include="'partials/header.html'"></div>
<main>
	<h2 class="block-title">Balance de Saldo <span class="label-small-light">Al {{currentProduct.charts.fechaActualizada}}</span></h2>
	<highchart class="chart bbottom" config="chartConfig" ></highchart>
	
	<div class="highchart-legends column-wrapper regular-padded">
		<div class="column-half">
			<div class="legend-border dotted column-half standard-grey-border-color"></div>
			<p class="column-half standard-grey-color">Año {{ currentProduct.charts.series[0].ano }}</p>
		</div>
		<div class="column-half">
			<div class="legend-border dotted column-half bank-bg"></div>
			<p class="column-half bank-color bold-text bank-grey-border-color">Año {{ currentProduct.charts.series[1].ano }}</p>
		</div>
	</div>

	<h2 class="block-title">Detalle de Saldo</h2>
	<section class="white-bg">
		<div class="gray-block">
			<span class="content-left half label-data-title"><strong>{{ currentProduct.nombre }}</strong></span>
			<span class="content-right half label-data-title"><strong>{{ currentProduct.numero }}</strong></span>
		</div>
		<div class="wrapp btm bbottom">
			<span class="content-left min-label-data-title">Disponible</span>
			<span class="content-right min-label-data-title green-important"><strong>${{currentProduct.disponible | pesos}}</strong></span>
			<span class="content-left min-label-data-title">Contable</span>
			<span class="content-right min-label-data-title">${{currentProduct.saldoDetalle.contable | pesos}}</span>
		</div>
		<div class="wrapp btm bbottom">
		 	<span class="min-label-data-title"><strong>Últimos Cheques</strong></span>
		 	<div class="floated-wrapp">
		 		<a href="" title="Ver cheque 0004" ng-repeat="cheque in currentProduct.ultimosCheques" ng-click="main.goToDocument(cheque.numero)">{{cheque.numero}}</a>
		 	</div>
		</div>
		<div class="wrapp btm bbottom">
			<span class="content-left min-label-data-title">Retenciones 24hrs.</span>
			<span class="content-right min-label-data-title">${{currentProduct.saldoDetalle.retenciones24hrs | pesos}}</span>
			<span class="content-left min-label-data-title">Retenciones 24hrs. o más</span>
			<span class="content-right min-label-data-title">${{currentProduct.saldoDetalle.retenciones24hrsomas | pesos}}</span>
			<span class="content-left min-label-data-title">Total de retenciones</span>
			<span class="content-right min-label-data-title"><strong>${{currentProduct.saldoDetalle.retenciones24hrs + currentProduct.saldoDetalle.retenciones24hrsomas | pesos}}</strong></span>
		</div>
		<div class="gray-block">
			<span class="content-left half label-data-title"><strong>Línea de crédito</strong></span>
			<span class="content-right half label-data-title"><strong>{{currentProduct.lineaCredito.cuenta}}</strong></span>
		</div>
		<div class="wrapp btm bbottom">
			<span class="content-left min-label-data-title">Autorizado</span>
			<span class="content-right min-label-data-title">${{currentProduct.lineaCredito.autorizado | pesos}}</span>
			<span class="content-left min-label-data-title">Utilizado</span>
			<span class="content-right min-label-data-title">${{currentProduct.lineaCredito.utilizado | pesos}}</span>
			<span class="content-left min-label-data-title">Disponible</span>
			<span class="content-right min-label-data-title green-important"><strong>${{currentProduct.lineaCredito.autorizado - currentProduct.lineaCredito.utilizado | pesos}}</strong></span>
		</div>
	</section>
	<section>
		<h2 class="block-title">Últimos movimientos</h2>
		<div ng-repeat="movimiento in currentProduct.ultimosMovimientos">
			<h2 class="block-title-medium">{{movimiento.fecha}}</h2>
			<ul class="list-of-things white-bg">
				<li ng-repeat="mov in movimiento.movimientos">
					<span class="content-left label-data-title"><strong>{{mov.nombre}}</strong></span>
					<span class="content-right label-data-title indicator" ng-class="mov.ingreso ? 'green-color' : 'blue-color'"><strong>{{ mov.ingreso ? '+ ' : '- ' }}{{mov.monto | pesos}}</strong>
					</span>
					<a ng-show="mov.documento" ng-click="main.goToDocument(mov.documento)">Documento {{mov.documento}}</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="box-content-wrapp" ng-show="ad.texto">
		<a href="{{ad.url}}" class="ads orange-bg" title="Ir al enlace">
			<p class="small-text">{{ad.texto}}</p>
			<i class="icon big-next"></i>
		</a>
	</section>
	<hr class="fixed-border"></hr>
</main>