<header>
	<button class="btn back-visible-text" ng-click="main.goBack()">Volver</button>
</header>
<main>
	<section class="wrapp-10-60">
		<div class="column-3 half">
			<span class="min-label-data-title mbottom-0">N° Cheque</span>
			<span class="min-label-data-title"><strong>0001</strong></span>
		</div>
		<div class="column-3 half">
			<span class="min-label-data-title mbottom-0">Fecha</span>
			<span class="min-label-data-title"><strong>17 / 07 / 2014</strong></span>
		</div>
		<div class="column-3 half">
			<span class="min-label-data-title mbottom-0">Estado</span>
			<span class="min-label-data-title"><strong>Pagado</strong></span>
		</div>
		<div class="column-3 half">
			<span class="min-label-data-title mbottom-0">Monto</span>
			<span class="min-label-data-title"><strong>$53.000</strong></span>
		</div>
	</section>
	<section class="elastic-wrapp-img wrapp-10-60">
		<img src="img/examples/cheque.jpg" alt="" />
	</section>
	<hr class="fixed-border"></hr>
</main>