<!-- header utilizado en los interiores con botón "volver" y título personalizable -->
<header>
	<button class="btn transparent menu-left-position" ng-click="main.goBack()"><i class="icon back-icon"></i>volver</button>
	<h1 class="centered">{{ tituloVista || currentProduct.titulo || '(sin título)' }}</h1>
	<button class="menu-button" ng-click="main.deployMenu()"><i class="icon menu"></i>Menú</button>
	<div class="menu-right-position light-gray-bg">
	<div class="main-navigation dark-gray-bg">
	  <div class="box-content-wrapp ohidden">
	    <img class="content-left" ng-src="{{userData.avatar}}" alt="avatar" />
	    <div class="content-right">
	      <h3 class="name">{{userData.nombre}}</h3>
	      <span class="metadata">{{userData.rut}}</span>
	    </div>
	  </div>
	  <div class="disclaimer box-content-wrapp ohidden" ng-hide="userData.social">
	    <p class="exclamation blackest min">Recuerda vincular tu cuenta a tus <strong>redes sociales</strong> para que tus amigos puedan buscarte.</p>
	  </div>
	  <ng-include src="'partials/menu.html'"></ng-include>

	</div>
	<nav class="second-navigation">
	  <a href="/inicio" title="Ir al inicio">Saldos</a>
	  <a href="/mensajes" ng-click="main.goTo('mensajes', 'Mensajes')" title="Ir a mensajes">Mensajes ({{mensajesPendientes}})</a>
	</nav>
	<div class="box-content-wrapp in-bottom-position">
	  <a href="/mis-aplicaciones" ng-click="main.goTo('mis-aplicaciones', 'Mis Aplicaciones')" title="Mis aplicaciones" class="btn gray-btn"><i class="icon app"></i>Mis Aplicaciones</a>
	</div>
	</div>
</header>