<div ng-include="'partials/header.html'"></div>
<main>
    <section class="white-bg regular-padded bbottom application-overview">
        <div class="icon-holder">
            <img src="img/logos/app/mi-saldo-medium.png" class="elastic-image" >
        </div>
        <div class="overview-holder">
            <p class="application-title">Mi Saldo</p>
            <p class="application-desc">
                Revisa tu saldo de forma rápida y segura como <strong>Mi Saldo</strong>
            </p>

            <a href="#" class="btn blue-btn small-btn" title="Descargar" >Descargar</a>
        </div>
    </section>
    <section class="white-bg regular-padded bbottom application-overview">
        <div class="icon-holder">
            <img src="img/logos/app/mi-trans-medium.png" class="elastic-image" >
        </div>
        <div class="overview-holder">
            <p class="application-title">Mi Transferencia</p>
            <p class="application-desc">
                Realiza transferencias de forma rápida y segura con <strong>Transferencias.</strong>
            </p>

            <a href="#" class="btn green-btn small-btn" title="Abrir" >Abrir</a>
        </div>
    </section>
    <section class="white-bg regular-padded bbottom application-overview">
        <div class="icon-holder">
            <img src="img/logos/app/mi-pago-medium.png" class="elastic-image" >
        </div>
        <div class="overview-holder">
            <p class="application-title">Mi Pago</p>
            <p class="application-desc">
                Paga tus cuentas de forma rápida y segura con <strong>Mi Pago</strong>
            </p>

            <a href="#" class="btn green-btn small-btn" title="Abrir" >Abrir</a>
        </div>
    </section>
    <section class="white-bg regular-padded bbottom application-overview">
        <div class="icon-holder">
            <img src="img/logos/app/mi-benef-medium.png" class="elastic-image" >
        </div>
        <div class="overview-holder">
            <p class="application-title">Mi Beneficio</p>
            <p class="application-desc">
                Conoce todos los <strong>Beneficios que Banco de Chile</strong> tiene para ti.
            </p>

            <a href="#" class="btn blue-btn small-btn" title="Descargar" >Descargar</a>
        </div>
    </section>
    <section class="white-bg regular-padded bbottom application-overview">
        <div class="icon-holder">
            <img src="img/logos/app/mi-trans-medium.png" class="elastic-image" >
        </div>
        <div class="overview-holder">
            <p class="application-title">Mi Cuenta</p>
            <p class="application-desc">
                Revisa tu cuenta de forma rápida y segura con <strong>Mi Cuenta</strong>
            </p>

            <a href="#" class="btn blue-btn small-btn" title="Descargar" >Descargar</a>
        </div>
    </section>
</main>
<hr class="fixed-border"></hr>