<header>
	<img ng-src="{{banco.logo}}" alt="Banco de Chile" />
</header>
<main class="wrapping" ng-controller="generalFormController as formCtrl">
	<img class="app-logo" ng-src="{{aplicacion.logo}}" alt="Banco de Chile" />
	<span class="green-text centered exito" ng-show="isUnblockDigipass">Su clave ha sido desbloqueada exitósamente</span>
	<div class="form-spec">
		<form name="reviewForm" ng-submit="formCtrl.addReview()" novalidate>

			<label for="clave-de-seguridad">
			<p class="label">Clave de seguridad</p>
			<input id="clave-de-seguridad" type="password" name="clave" ng-model="clave" ng-class="{'invalid-input': isSubmitted && reviewForm.clave.$error.required || response != 0}" ng-disabled="isDisabled" placeholder="Ingrese su clave de seguridad" required />

			<span class="error-message" ng-show="isSubmitted && reviewForm.clave.$error.required && response == 0">Debe ingresar una clave</span>
			<span class="error-message" ng-show="response == 2">Clave incorrecta, intente de nuevo</span>
			</label>

			<div class="wrapping" ng-hide="response == 3 && responseDigipass != 1">
				<input class="btn green-btn" type="submit" value="Ingresar"/>
			</div>
		</form>

		<!-- Oculto al comienzo-->
		<form name="bloquedForm" class="wrapping" ng-show ="response == 3 && responseDigipass != 1" ng-submit="formCtrl.unblock()" novalidate >
			<div class="disclaimer">
				<p class="exclamation"><strong>Su clave se encuentra bloqueada</strong> para desbloquearla ingrese el código de su dispositivo de seguridad.</p>
				<label for="digipass">
				<p class="label">Digipass <span class="simple-text">(Serie: 1234567890)</span></p>
				<input class="semi-field common-field" id="digipass" type="password" name="digipass" ng-model="digipass" placeholder="Ingrese su Digipass" required />
				<input class="next-field" value="" type="submit" />
				<span class="error-message" ng-show ="(isSubmittedBlock && bloquedForm.digipass.$error.required) || responseDigipass == 2">Número de DigiPass no válido</span>
				</label>
			</div>
		</form>

	</div>
	<a class="centered" href="#/olvido" title="Recuperar su clave">Olvidé mi clave</a>
	<a class="centered" href="/inicio" title="Cambiar de cuenta">Ingresar con otra cuenta</a>
</main>
